---


const { texto, title, imagen1, imagen2, imagen3, imagen4, imagen5 } = Astro.props;

---

<section class="font-[Poppins] pt-[90px] pb-[80px]  flex flex-col items-center justify-center ">
    
    <h1 data-aos="fade-down" class="text-[40px] font-medium max-xl:text-[35px] max-lg:text-[40px] max-sm:text-[30px] max-md:text-center">
        {title}
    </h1>
    <div class="flex max-lg:flex-col pt-[60px]  lg:w-[90%] 2xl:w-[85em] max-lg:w-[90%] pl-[20px] pr-[20px] lg:justify-between justify-center max-md:gap-[30px] gap-[80px] items-center">
        <div class="lg:w-[500px] xl:w-[700px]  flex flex-col gap-[20px]">
            
            <div class="max-lg:flex flex-col  justify-center items-center ">
                <p class="max-lg:text-center text-gray-600 pb-[30px] lg:text-[16px] text-[13px]   max-md:text-center">
                   {texto}
                </p>
                <br>
            </div>

        </div>
        
        <div class="2xl:w-[20.5em]  max-lg:w-[100%] rounded-[20px] flex lg:flex-col gap-[30px]">
            <img src={imagen1} class="w-[100%] h-[210px]" alt="">
            <img src={imagen2} class="w-[100%] h-[210px]" alt="">
        </div>

    </div>

    <br>

    <div class="flex justify-between items-center    w-[69%]  flex-wrap" >

        <img src={imagen3} class="w-[330px] h-[200px]" alt="">
        <img src={imagen4} class="w-[330px] h-[200px]" alt="">
        <img src={imagen5} class="w-[330px] h-[200px]" alt="">

    </div>
</section>
