---
import BaseLayout from "../layouts/BaseLayout.astro";
import Fondo from "../components/Fondo.astro";
const fondoOfi =
  "https://res.cloudinary.com/dlgeap8h0/image/upload/v1771514450/mapi-portada_vvfhnw.webp";

import DetailPrograms from "../components/programs/ProgramsDetail/detailPrograms.astro";

import { programs } from "../data/programs/programs-experiences";

export async function getStaticPaths() {
  return programs.map((dest) => ({
    params: { programsDetail: dest.name },
    props: { ...dest },
  }));
}

const {
  title,
  programBreve,
  programItenerario,
  programNoIncluye,
  programIncluye,
} = Astro.props;
---

<BaseLayout title={title}>
  <Fondo fondo={`url(${fondoOfi})`} />
  <main>
    <DetailPrograms
      title={title}
      programNoIncluye={programNoIncluye}
      programIncluye={programIncluye}
      programBreve={programBreve}
      programItenerario={programItenerario}
    />
  </main>
</BaseLayout>
