---
import { programs } from "../../data/programs/programs-experiences";
---

<section class="premium-programs">
    <div class="header-section">
        <span class="title-accent">Premium Programs</span>
        <h2 class="subtitle">
            Need Some inspiration? <br />
            Take a look at some of our travelers’ recommended programs
        </h2>
    </div>
    <div class="grid-container">
        <div class="programs-grid">
            {
                programs.slice(0, 3).map((section) => (
                    <div class="card" data-aos="flip-left">
                        <div class="flex-1 md:max-w-[100%]">
                            <img
                                src={section.fondo}
                                class="w-full h-[400px] object-cover rounded-[5px] block shadow-2xl"
                                alt={section.name}
                            />
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">{section.title}</h3>
                            <p class="card-text">{section.text}</p>
                            <a href={`/programs/${section.name}`} class="card-link" aria-label={`Read more about ${section.name}`}>
                                <i>Read More <span class="hidden">{section.name}</span></i>
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
<style>



    .premium-programs {
        font-family: "Poppins", sans-serif;
        background-color: #f7f7f7;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
    }
    .header-section {
        padding-top: 70px;
        text-align: center;
        width: 90%;
    }

    .title-accent {
        font-size: 36px;
        display: block;
        margin-bottom: 10px;
    }

    .subtitle {
        color: #1a1a1a;
        font-weight: 300;
        line-height: 1.4;
        font-size: 18px;
    }

    @media (max-width: 1024px) {
        .subtitle {
            font-size: 22px;
            padding: 0 20px;
        }
    }
    .grid-container {
        padding-top: 4em;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .programs-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        width: 90%;
        max-width: 1400px;
        padding: 0 20px;
    }

    @media (max-width: 1024px) {
        .programs-grid {
            gap: 1.5em;
        }
    }

    @media (max-width: 768px) {
        .programs-grid {
            grid-template-columns: 1fr;
            width: 100%;
        }
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        height: 400px;
    }

    @media (max-width: 1024px) {
        .image {
            height: 280px;
        }
    }
    @media (max-width: 768px) {
        .image {
            height: 300px;
        }
    }

    .card-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 18px;
        font-weight: 500;
    }

    @media (max-width: 1024px) {
        .card-title {
            font-weight: 600;
        }
    }

    .card-text {
        color: #4b5563;
        font-weight: 300;
        font-size: 16.5px;
    }

    .card-link {
        margin-top: 25px;
        width: fit-content;
        color: #dabb42;
        text-decoration: none;
        font-style: italic;
        border-bottom: 1px solid #dabb42;
        transition: all 0.3s ease;
    }

    .card-link:hover {
        transform: translateY(-10px);
    }

    .card-link:hover {
        color: #f7d30e;
        border-color: #f7d30e;
    }
</style>
