---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { destinationsExp } from "../../data/destinations/experienceDestinations";
import ExpDestinations from "../../components/ExpDestinations/ExpDestinations.astro";
import Fondo from "../../components/Fondo.astro";


export async function getStaticPaths() {
  return destinationsExp.map((dest) => ({
    params: { experienceDestinations: dest.experienciaLugar },
    props: { ...dest },
  }));
}

const {
  titleSEO,
  title,
  description,
  fondo,
  rightImage,
  downImage,
} = Astro.props;
---


<BaseLayout title={titleSEO}>
  <Fondo fondo={`url(${fondo})`} />
  <main>
    <ExpDestinations
      title={title}
      texto={description}
      rightImage={rightImage}
      downImage={downImage}
    />
  </main>
</BaseLayout>
